@font-face {
    font-family: 'recognitionregular';
    src: url('../fonts/robot/recognition-webfont.eot');
    src: url('../fonts/robot/recognition-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robot/recognition-webfont.woff2') format('woff2'),
         url('../fonts/robot/recognition-webfont.woff') format('woff'),
         url('../fonts/robot/recognition-webfont.ttf') format('truetype'),
         url('../fonts/robot/recognition-webfont.svg#recognitionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pirates';
    src: url('../fonts/pirates/wantedpirates-webfont.eot');
    src: url('../fonts/pirates/wantedpirates-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pirates/wantedpirates-webfont.woff2') format('woff2'),
         url('../fonts/pirates/wantedpirates-webfont.woff') format('woff'),
         url('../fonts/pirates/wantedpirates-webfont.ttf') format('truetype'),
         url('../fonts/pirates/wantedpirates-webfont.svg#wantedpiratesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hyperspace';
    src: url('../fonts/hyperspace/hyperspace-webfont.eot');
    src: url('../fonts/hyperspace/hyperspace-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hyperspace/hyperspace-webfont.woff2') format('woff2'),
         url('../fonts/hyperspace/hyperspace-webfont.woff') format('woff'),
         url('../fonts/hyperspace/hyperspace-webfont.ttf') format('truetype'),
         url('../fonts/hyperspace/hyperspace-webfont.svg#hyperspaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	-moz-text-decoration-color: transparent;
    text-decoration-color: transparent;
	background: #000;
}

.background{
	position: fixed;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	background : #000;
	z-index: -333;
}

.titlebar{
	position: fixed;
	top : 0px;
	left : 0px;
	width : 100%;
	height: 20px;
	text-align: left;
	background: rgba(0, 0, 0, .2);
	-webkit-user-select: none;
  	-webkit-app-region: drag;
  	color : #FFF;
  	padding : 5px 0 0 10px;
  	font-family: hyperspace;
  	font-size: 12pt;
  	font-weight: bold;
  	border-bottom: #890E7C 1px solid;
  	border-top: #890E7C 1px solid;
}

.menu{
	position: fixed;
	top : 150px;
	left : -250px;
	height : 500px;
	width : 350px;
	background : rgba(0, 0, 0, .8);
	border : #890E7C 1px solid;
	border-radius: 15px;
	margin-left : -175px;
	text-align: center;
	color : #FFF;
}

.menu h1{
	font-family: hyperspace;
  	font-size: 37pt;
  	color : #FFF;
  	background: rgba(137, 14, 124, .5)
}

.menu button{
	width : 270px;
	display : block;
	margin: 15px auto;
	font-family: recognitionregular;
  	font-size: 25pt;
  	color : #FFF;
  	background : #000;
  	padding : 15px 15px;
  	cursor: pointer;
  	border-radius: 15px;
  	border : #890E7C 1px solid;
}

.menu button:hover{
	color : #2F2;
	border : #2F2 1px solid;
}

.menu .copyright{
	font-family: recognitionregular;
  	font-size: 18pt;
	margin-top: 150px;
}

.field{
	position: fixed;
	top : 0px;
	left : 0px;
	width : 750px;
	height : 780px;
}

.ship{
	position: absolute;
	bottom : -100px;
	left : 50%;
	margin-left: -37px;
	width : 75px;
	height : 75px;
	background: url(../img/ship.png);
	z-index: 3;
}

.bullet{
	z-index: 1;
	position: fixed;
	width : 3px;
	height : 55px;
	background : #22F;
	border : #00F 3px solid;
}

.monster{
	z-index: 3;
}

.healthbar{
	z-index: 15;
	background: rgba(100, 100, 100, .8);
	position: fixed;
	border : #000 1px solid;
	border-radius: 7px;
	height : 200px;
	width : 33px;
}

.healthbar .red{
	position: absolute;
	bottom : 0px;
	left : 0px;
	width : 100%;
	border-radius: 7px;
	background: #1af429; /* Old browsers */
	background: -webkit-linear-gradient(top, #1af429 0%,#e5de04 58%,#ff4949 90%); /* Chrome10+,Safari5.1+ */
}

.banner{
	z-index: 555;
	position: fixed;
	width : 100%;
	height : 113px;
	top : -113px;
	left : 0px;
	background: url(../img/banner.png) no-repeat;
	opacity: 0.8;
	color : #FFF;
	font-size: 55pt;
	font-family: recognitionregular;
	text-align: center;
	padding : 30px 15px;
}